<div class="quantity-input">
  <button type="button" class="js-qty-minus">−</button>

  <input
    type="number"
    name="quantity"
    value="1"
    min="1"
    class="js-qty-input"
  >

  <button type="button" class="js-qty-plus">+</button>
</div>
