<div class="multi-collection-section">
<div class="container">
    <div class="collection-capsules d-flex gap-3">
        <button class="btn btn-secondary" > collection 01</button>
        <button class="btn btn-secondary" > collection 02</button>
        <button class="btn btn-secondary" > collection 03</button>
    </div>
</div>
</div>

{% schema %}
{
    "name": "Multi collection",
    "settings": [
        
        ],
        "presets": [
            {
            "name": "Multi collection" }
    ]
}
{% endschema %}